* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color-scheme: dark;
}
body {
  font-family: cursive
}

@import "./song";
@import "./player";
@import "./library";

input {
  outline: none;
}
